.gray__bg {
  background-color: #fafaff;
}

.gray__bg  > h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: bold;
  line-height: 37px;
  letter-spacing: 0.02em;
  color: #222222;
}

.main__box {
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__box > div > img {
  border-radius: 50%; 
}

.person__data {
  width: 60%;
  margin-left: 20px;
}

.person__data > p {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 29px;
  letter-spacing: 0.02em;
  color: #222222;
}

.person__data > p > span {
  color: #ffc53d;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

.person__description {
  width: 100%;
  color: #222222;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 0.04em;
  border-left: 4px dashed #ffc53d;
  padding-left: 26px;
}
