.about__me {
  position: absolute;
  width: 1341px;
  height: 430px;
  left: 0px;
  top: 900px;
}

.gray__bg {
  position: absolute;
  width: 980px;
  height: 430px;
  left: 0px;
  top: 900px;
  background-color: #fafaff;
}

.gray__bg .title {
  width: 202px;
  height: 29px;
  margin-left: 152px;
  top: 0px;
  font-family: "Ubuntu", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: bold;
  line-height: 37px;
  letter-spacing: 0.02em;
  color: #222222;
}

.main {
  position: absolute;
  width: 1241px;
  height: 280px;
  left: 100px;
  top: 974px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
  display: flex;
  box-sizing: border-box;
}

.main .person__img {
  position: absolute;
  min-width: 105.6px;
  height: 97.01px;
  left: -52.55px;
  /* top: calc(50% - 97.01px / 2 + 137.98px); */
}

#img {
  border-radius: 50%;
}

.main .person__data {
  position: absolute;
  width: 274px;
  height: 181px;
  left: 314px;
  right: 753px;
  top: 50px;
  /* margin-right: 28px; */
  display: inline;
}

.person__data .data__title {
  display: flex;
  align-items: center;
  position: absolute;
  width: 186px;
  height: 29px;
  left: 314px;
  top: 1024px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 29px;
  letter-spacing: 0.02em;
  color: #222222;
}

#data__answer {
  color: #ffc53d;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

#desc {
  border-left: 4px dashed #ffc53d;
  padding-left: 26px;
}

.main .person__description {
  position: absolute;
  max-width: 639px;
  height: 280px;
  left: 643px;
  color: #222222;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  flex-wrap: wrap;
}
