nav div.dropdown {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #515151;
    width: 95%;
    margin: 44px auto 0px;
}


button.dropbtn {
    display: none;
    background-color:  #E1E1E1; ;
}

nav div.dropdown-content ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 400px;
    list-style: none;
    padding: 0px;
}

nav div.dropdown-content ul li a {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;
    padding: 8px;
    text-decoration: none;
    color: #515151;
    display: block;
}

nav div.dropdown ul li a:hover {
    background-color: #cec9c9;;  
}

nav div.dropdown div.logo {
    display: flex;
    justify-items: flex-end;
    align-items: center;
}

nav.navbar div.logo .logo-text {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.15em;
    margin-left: 10%;
}

@media only screen and (max-width: 600px) {

    nav button.dropbtn {
        display: inline-block;
    }

    nav div.dropdown-content {
        width: auto;
    }

    button.dropbtn img {
        height: 30px;
        width: auto;
    }

    nav div.dropdown-content {
        position: relative;
        display: inline-block;
    }


    nav div.dropdown-content ul {
        display: none;
        position: absolute;  
    }


    nav .dropdown-content:hover ul {
        display: flex;
        flex-direction: column;
        width: auto;
        z-index: 2;
        margin-top: -39px;
        margin-left: -50px;
        background-color: #E1E1E1; 
    }

    nav .dropdown-content:hover ul li  {
        padding: 8px 8px;
        width: 100%;
        text-align: center;
    }


    nav.navbar {
        display: flex;
        justify-content: space-between;
    }
}
