#skills {
  display: flex;
  justify-content: center;
}

.skill-box {
  width: 200px;
  padding: 0 20px;
  text-align: justify;
}

#middle-box {
  border-right: 5px dotted yellow;
  border-left: 5px dotted yellow;
}
